<button (click)="addCol(field, header)">ADD</button>
<input #field type="text">
<input #header type="text">
<button (click)="poop()">poop</button>

<hr>
<button (click)="newStudent(studentName)">ADD STUDENT</button>
<input 
#studentName
type="text">
<hr>

<hr>
<button (click)="newAssignment(assignmentTitle, total)">ADD ASSIGNMENT</button>
<input 
#assignmentTitle
type="text">
<input
#total
type="text">
<input #fork>
<hr>
<p>Hello World Hello World</p>
<span>I am span</span>
<button (click)="logCols()">LOG COLS</button>
<button (click)="logStudents()">LOG STUDENTS</button>

<div class="content-section implementation">


    <h1 class="first">{{ thisCourse.title }}</h1>
    <p-table [columns]="cols" [value]="students">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">{{ col.header }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td pEditableColumn *ngFor="let col of columns">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" (keydown.enter)="emit(data, rowData, col.field)" #data>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData[col.field]}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
    </p-table>
<hr>
<hr>
<button (click)="showData(this.students)">SHOW DATA ARRAY</button>

<!-- rowData, rowData[col.field -->


    <!-- <td pEditableColumn>
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.total" required>
            </ng-template>
            <ng-template pTemplate="output">
                {{rowData.total}}
            </ng-template>
        </p-cellEditor>
    </td>
    <td pEditableColumn>
        <p-cellEditor>
            <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.studentName1" required>
            </ng-template>
            <ng-template pTemplate="output">
                {{rowData.studentName1}}
            </ng-template>
        </p-cellEditor>
    </td>
    <td pEditableColumn>
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.studentName2">
            </ng-template>
            <ng-template pTemplate="output">
                {{rowData.studentName2}}
            </ng-template>
        </p-cellEditor>
    </td> -->
