<!-- <button (click)="addCol(field, header)">ADD</button>
<input #field type="text">
<input #header type="text">
<button (click)="poop()">poop</button> -->
<!-- <button (click)=sumTotalPossible()>parseInt</button> -->
<div id="courseTopRule">

<!-- <button (click)="logCols()">LOG COLS</button>
<button (click)="logStudents()">LOG STUDENTS</button>
<hr> -->
<!-- <label for="studName" *ngIf="showStudentName">NEW NAME </label>
<input id="studName" *ngIf="showStudentName"> -->

<div class="content-section implementation">

    <button 
    class="button"
    (click)="editMode()">REMOVE MODE</button>
    <h1 class="first">{{ thisCourse.title | uppercase }}</h1>
    <p-table [columns]="cols" [value]="students">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns; index as i">
                    {{ col.header + " " }}<i (click)="removeStudentName(data, rowData, col.field, students, col)" 
                    *ngIf="i>=2 && showEdit" 
                    class="fa fa-times-circle"></i>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td pEditableColumn *ngFor="let col of columns; index as i">
                        <i (click)="removeAssignment(data, rowData, col.field, students, col)" 
                        *ngIf="i==0 && showEdit" 
                        class="fa fa-times-circle"></i>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" (keydown.enter)="emit(data, rowData, col.field, students, col)" #data>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData[col.field]}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-totalsData>
            <tr id="footer">
                <td id="footer">{{ "TOTALS" }}</td>
                <td id="footer">{{ assignmentsTotal }}</td>
                <td id="footerStudentTotals" *ngFor="let studentTotal of studentTotals">{{ studentTotal }}</td>
            </tr>    
        </ng-template>        
    </p-table>



    <div id="add-student">
        <div id="student-button-container">
            <button 
            id="student-button"
            (click)="newStudent(studentName)">ADD {{ thisCourse.title | uppercase }} STUDENT</button> 
        </div>
        <div id="student-input-container">
            <input 
            id="student-input"
            (keydown.enter)="newStudent(studentName)"
            #studentName
            type="text"
            placeholder="name">   
        </div>   
    </div>

    <hr>

    <div id="add-assignment">
        <div id="assignment-button-container">
            <button 
            id="assignment-button"
            class="button"
            (click)="newAssignment(assignmentTitle, total)">ADD {{ thisCourse.title | uppercase }} ASSIGNMENT</button>
        </div>

        <div id="assignment-input-container">
            <input 
                id="assignment-title"
                (keydown.enter)="newAssignment(assignmentTitle, total)"
                #assignmentTitle
                type="text"
                placeholder="assignment title">
            <input
                id="assignment-total"
                (keydown.enter)="newAssignment(assignmentTitle, total)"
                #total
                type="text"
                placeholder="total possible">
        </div>
    </div>
    
</div>
