.visible {
    display: block;
}

.notVisible {
    display: none;
}

.content-section tr {
    background-color: rgb(92, 247, 92);
    color: rgb(121, 14, 94);
    border: 2px solid rgb(231, 53, 172);
}

.content-section th {
    background-color: orange;
}

tr {
    background-color: salmon;
}

#footer {
    background-color: yellow;
    color: red;
}

#footerStudentTotals {
    background-color: lightsteelblue;
    color: red;
}