<form [formGroup]="myForm">
    Value: {{ myForm.value | json }}
<button (click)="sendBrowserData()">ENTER COURSE NAME</button>
<input
        id='my-form' 
        name='my-form' 
        type="text" 
        style="border:2px solid lime">
<hr>
<div *ngFor="let post of posts">
    {{ post.title }}
</div>
<!-- <div *ngFor="let postes of postsArray">
    {{ postes | json }}
</div>
<div>{{ postsArray | json }}</div>




<hr>-->
<!-- <div>{{ shit | json }}</div>  -->
<hr>
<hr>
<button (click)="getStudents()">GET STUDENTS!!</button>
<!-- (click)="goAway(poop)" -->

<div *ngFor="let poop of poopy; let i = index">
    <span *ngIf="showSpan">{{ i }} {{ poop.name }}</span>
        <input 
        (focus)="emitPoop(poop)"
        *ngIf="showInput" 
        type="text" 
        formControlName="term"
        id="i" 
        placeholder="{{ poopy[i].name }}"
        >{{ i.id }}
</div>
<button (click)="switchInputOrSpan()">SWITCH</button>

<hr>
<hr>




<div style="border: 2px solid yellow ">
<button (click)="submitCourseTitle(courseTitle)">SUBMIT COURSE TITLE</button>
<input type="text"
    id="title-input"
    #courseTitle
    formControlName="title"
    style="border: 3px dotted blue">
</div>
<hr>

//-----------------------------------------------------------------

<div style="border: 2px solid yellow ">
    <button (click)="submitStudentTitle(name, studentCourseId)">SUBMIT STUDENT</button>
    <input type="text"
        id="student-input-name"
        #name
        formControlName="studentName"
        style="border: 3px dotted blue">
    <input type="text"
        id="student-input-courseId"
        #studentCourseId
        formControlName="studentCourseId"
        style="border: 3px dotted blue">
    </div>
<hr>

//-----------------------------------------------------------------

<div style="border: 2px solid yellow ">
    <button (click)="submitAssignmentTitle(assignTitle, assignTotal)">SUBMIT ASSIGNMENT TITLE</button>
    <input type="text"
        id="assignTitle-input"
        #assignTitle
        formControlName="assignTitle"
        style="border: 3px dotted blue">
    <input type="text"
        id="assignTotal-input"
        #assignTotal
        formControlName="assignTotal"
        style="border: 3px dotted blue">
    </div>

    <hr>
    <button (click)="updateStudent(newId, newName)">SET NAME</button>
    <input type="text"
    id="student-input"
    #newId
    formControlName="newId"
    style="border: 3px dotted blue">
    <input type="text"
    id="student-input"
    #newName
    formControlName="newName"
    style="border: 3px dotted blue">
    <hr>
    <hr>

    
</form>
