<body>
<!--    <hr>
        <button (click)="users()">USERS</button>
    <hr> -->

<div class="header-container">
    <div class="title">
        <h1>grades.</h1>
    </div>

    <div class="spacer"></div>


    <div class="login-userDisplay-button" *ngIf="auth.user$ | async as user; else login">
            
    <button class="login-button" (click)="auth.signOut()">Sign Out</button>


    <pre class="user-info">
        {{ user.email }}
    </pre>

    </div>

<ng-template #login>
        <div class="login-userDisplay-button">

    <button class="login-button" (click)="auth.googleSignin()">Login</button>
</div>
</ng-template>


</div>



<div id="separator"></div>
<div id="blank"></div>

<!-- <home *ngIf="showHome"></home> -->

<router-outlet></router-outlet>

</body>

