<body>
<!--    <hr>
        <button (click)="users()">USERS</button>
    <hr> -->

<div class="header-container">
    <div class="title">
        <h1>grades.</h1>
    </div>

    <div class="spacer"></div>


    <div class="login-userDisplay-button" *ngIf="auth.user$ | async as user; else login">
            
    <button class="login-button" (click)="auth.signOut()">Sign Out</button>


    <pre class="user-info">
        {{ user.email }}
    </pre>

    </div>

<ng-template #login>
        <div class="login-userDisplay-button">

    <button class="login-button" (click)="auth.googleSignin()">Login</button>
</div>
</ng-template>


</div>



<div id="separator"></div>
<div id="blank"></div>

<!-- <home *ngIf="showHome"></home> -->

<router-outlet></router-outlet>


<!-- <div class="serparator"></div> -->




<!-- <button class="userButton" (click)="users()">USERS</button>
<tr *ngFor="let user of usersArray">
        <td>{{ user.data.displayName | json }}</td>
        <td>{{ user.data.email | json }}</td>
        <img [src]="user.data.photoURL" alt="photo goes here">
        <td>{{ user.data.uid | json }}</td>
        <td>{{ user.data.id | json }}</td>
     </tr>
     <hr>
     <hr> -->

     <!-- <div class="navi">
	<ul>
		  <li><a href="#sec1">about</a></li>
			<li><a href="#sec2">portfolio</a></li>
			<li><a href="#sec3">contact</a></li>
	</ul>
</div> -->


</body>

