<!-- <student-input></student-input> -->
<!-- <hr> -->
<h1>base</h1>
<div *ngIf="auth.user$ | async as user; else login">
    <pre>
    {{ user | json }}
    </pre>
    <hr>
    <button class="button" (click)="auth.signOut()">Sign Out</button>

</div>

<ng-template #login>
    <button class="button" (click)="auth.googleSignin()">Login with Google</button>
</ng-template>

<div id="seperator"></div>

<router-outlet></router-outlet>




<div [formGroup]="courseForm">
    Value: {{ courseForm.value | json }}
<button (click)="addCourseTitle(beluga.value)">ADD COURSE</button>
<input
#beluga
formControlName="courseTitle">
</div>
<hr>
<hr>
<app-table-too [thisCourse]="course"  *ngFor="let course of coursesArray"></app-table-too>

<hr>
