.add-course-container {
    margin-bottom: 28px;
}

input {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(38, 100, 182)
}

.button {
    background-color: rgb(33, 113, 128);
    color: whitesmoke;
    margin-left: 125px;
}

.course-button {
    margin-right: 2px;
}

@media (min-width: 599px) {
    .button {
        background-color: rgb(33, 113, 128);
        color: whitesmoke;
        margin-left: 12px;
    }       
}