.add-course-container {
    margin-bottom: 28px;
}

.button {
    background-color: rgb(33, 113, 128);
    color: whitesmoke;
    margin-left: 125px;
}

.course-button {
    margin-right: 2px;
}

@media (min-width: 599px) {
    .button {
        background-color: rgb(33, 113, 128);
        color: whitesmoke;
        margin-left: 12px;
    }       
}